@using C_Entidades;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Akamika</title>
    <link href="~/desing/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/desing/css/landing-page.css" rel="stylesheet" />
    <link href="~/desing/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/desing/css/personalizado.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="@Url.Action("Index", "Inicio")">Akamika</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Index", "Inicio")">Inicio</a>
                    </li>
                    <li>
                        @if (Session["usuario"] == null)
                        {
                            <a href="@Url.Action("RegistroLogin", "Inicio")">Registrarse / Iniciar sesión</a>
                        }
                        else
                        {

                            Usuario u = (Usuario)Session["usuario"];
                            String Nombres = u.Persona.PersonaNombres + " " + u.Persona.PersonaApellidos;
                            Int16 codigousuario = Convert.ToInt16(u.UsuarioID);
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                @Nombres <span class="caret"></span>
                        </a>
                            <ul class="dropdown-menu">                               
                                <li><a href="@Url.Action("PerfilUsuario", "Persona")">Perfil</a></li>
                                <li><a href="@Url.Action("CursoRegistrado", "Curso")">Cursos</a></li>                                
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("CerrarSesion", "Inicio")">Salir</a></li>
                            </ul>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                        <p class="copyright text-muted small">Copyright &copy; Akamika 2016. Derechos reservados - Basado en tema <a href="http://startbootstrap.com/template-overviews/creative/">Creative</a> - Versión 0.1</p>
                 </div>
                <div class="col-lg-6">
                    <p class="copyright text-muted small text-right">Apoya a la comunidad <a href="https://codcafein.wordpress.com">Cod Cafein</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/desing/js/jquery.js"></script>
    <script src="~/desing/js/bootstrap.min.js"></script>
</body>
</html>
